<header>
  <nav class="navbar">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/about">Items</a>
        <a class="navbar-item" href="/contact">Categories</a>
        <a class="navbar-item" href="/genres">Genres</a>
  </nav>
</header>