<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
  <link rel="stylesheet" href="/css/globals.css">
  <link rel="stylesheet" href="/css/404.css">
  <%- include('partials/favicon') %>
</head>
<body>
  <%- include('partials/header') %>
  <main class="hero">
    <h1>404 Not Found</h1>
    <p>Couldn't find what you were looking for.</p>
  </main>
  <%- include('partials/footer') %>
</body>
</html>