.categories-list {
  list-style: none;
}

.categories-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.category {
  background-color: var(--card-color);
  transition: all 0.2s;
  border-radius: 15px;
}

.category a {
  text-decoration: none;
  color: #fff;
}

.category .content {
  padding: 20px;
}

.category h2 {
  font-size: 2rem;
  margin: 0;
}

.category:hover {
  transform: scale(1.05);
  background-color: var(--card-hover);
}
