@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* global styles */

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #001220;
}

header {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #9333ea;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.2s;
}

.navbar a:hover {
  transform: scale(1.2);
}

footer {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9333ea;
}

footer p {
  color: #fff;
}

footer a {
  color: #fc3085;
  text-decoration: none;
}

.spacer {
  aspect-ratio: 16/9;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-layer {
  background-image: url('../svg/layered-waves-haikei.svg');
}